body {
  background-color: #f5cba4;
}

.card {
  margin: 13px;
}

.card-title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 15px;
  background-color: #dedede;
  color: #828282;
}

.card-img-top {
  margin: 10px;
  width: 15rem;
  align-self: center;
  border: 1px lightgray solid;
  padding: 10px;
}

.card-body {
  text-align: center;
}

.btn-danger {
  background-color: tomato;
}

#form {
  margin: 20px;
}

#pet-type {
  background: #db8e72;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

#btn-group {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.btn-primary {
  margin: 10px;
  border: white 1px solid;
}

#cat-btn {
  background-color: #4dacc9;
  color: white;
  padding: 5px 20px 5px 20px;
}

#dog-btn {
  background-color: #52bf7e;
  color: white;
  padding: 5px 20px 5px 20px;
}

#dino-btn {
  background-color: orange;
  color: white;
  padding: 5px 20px 5px 20px;
}

#all-btn {
  background-color: gold;
  color: white;
  padding: 5px 20px 5px 20px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
