body {
  background-color: whitesmoke;
}

.card {
  margin: 15px;
  padding: 11px;
  font-family: 'Raleway', sans-serif;
  background-color: #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
}

.cat-card {
  margin: 13px;
  padding: 11px;
  font-family: 'Raleway', sans-serif;
  background-color: #9ccbd9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
}

.dog-card {
  margin: 13px;
  padding: 11px;
  font-family: 'Raleway', sans-serif;
  background-color: #a9d4b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
}

.dino-card {
  margin: 13px;
  padding: 11px;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(254, 208, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
}

.card-title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 15px;
  background-color: #dedede;
  color: #828282;
  border: white 1px solid;
  border-radius: 13px;
  font-weight: bold;
}

.card-img-top {
  margin: 10px;
  width: 15rem;
  align-self: center;
  border: 1px white solid;
  padding: 10px;
}

.card-body {
  text-align: center;
}

.btn-danger {
  background-color: tomato;
  margin: 10px;
}

.form-box {
  width: 75%;
  margin: 5px;
}

#main-heading {
  font-family: 'Abril Fatface', serif;
  text-align: center;
  margin-top: 40px;
  font-size: 120px;
  color: #515151;
}

#form-title {
  text-align: center;
  margin: 50px 30px 30px 30px;
  font-family: 'Abril Fatface', cursive;
  color: #515151;
}

#form {
  margin: 20px 300px 50px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(212, 204, 204);
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 13px;
}

#submit-btn {
  margin: 10px;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #515151;
  color: white;
  width: 150px;
  border-radius: 13px;
}

#pet-type {
  background-color: whitesmoke;
  color: #828282;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
  border-radius: 13px;
}

#btn-group {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.btn-primary {
  margin: 10px;
  border: white 1px solid;
  font-family: 'Raleway', sans-serif;
}

#cat-btn {
  background-color: #4dacc9;
  color: white;
  padding: 5px 20px 5px 20px;
}

#dog-btn {
  background-color: #52bf7e;
  color: white;
  padding: 5px 20px 5px 20px;
}

#dino-btn {
  background-color: orange;
  color: white;
  padding: 5px 20px 5px 20px;
}

#all-btn {
  background-color: gold;
  color: white;
  padding: 5px 20px 5px 20px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
